DEBUG=true
JWT_ACCESS_EXP_SECONDS=3600
JWT_PRIVATE_KEY=secret
JWT_PUB_KEY=secret
DB_MASTER_HOST=localhost
DB_MASTER_PORT=5433
DB_MASTER_USER=postgres
DB_MASTER_PASSWORD=app_pswd
DB_DATABASE=chats
KAFKA_BROKERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6380
